@page "/novel/create"
@using NovelBloom.Styles

<h3>CreateStoryPage</h3>

<style>
    .mud-input-label {
        color: #788394 !important;
    }
</style>


@* Bind to Novel class and creating add new section will create new novel sections*@
<MudCard Style="@($"background:{_themeDefinition.PaletteLight.Primary};")" Class="pa-2 ma-3 rounded-lg">
    <MudCardContent >
        <MudText Color="Color.Tertiary" Typo="Typo.h6" Class="mb-2">Prologue</MudText>
        <MudTextField Style="@($"background:#313639; color:#788394")" @bind-Value="TextValue" Label="Write your prologue here..." Variant="Variant.Filled" FullWidth="true" Lines="4" />
    </MudCardContent>
</MudCard>

@code {
    public string TextValue { get; set; }
    private MudTheme _themeDefinition = new MainTheme();

}
