@page "/novel-detail/{SetHashCode:int}"

@using NovelBloom.Models
@using NovelBloom.Utils


@if (Novel != null)
{
    <MudText Typo="Typo.h4">@Novel.NovelStory.Title</MudText>
    <MudText Typo="Typo.subtitle2" Class="mt-2">by @Novel.User.UserNick</MudText>
    <MudImage Src="images/defaultimage.jpeg"  Height="150" Class="rounded-lg" />
   

}
else
{
    <p>Loading...</p>
}

@code {

    private Novel Novel { get; set; }

    [Inject] private StateContainer StateContainer { get; set; } = default!;
    [Parameter] public int SetHashCode { get; set; }

    protected override void OnInitialized()
    {
        var data = (Novel)StateContainer.ObjectTunnel[SetHashCode];
        Novel = data;
    }
}
